<div id="project">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited  this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Project %><br />
    <%= f.text_field :name %>
  </div>


      <div id="tasks">
      <%= fields_for "project[task_attributes][]", :task do |task_form| %>
          <% for task in @project.tasks  %>
                <%= render :partial => "task" %>

          <% end %>
      <% end %>
  
   <%#= f.fields_for :tasks do |form_task| %>
     <%#= form_task.text_field :name %>
     <%#= form_task.link_to_remove "Remove this task" %>
   <%# end %>
   

      <%#= fields_for "project[task_attributes][]" , :task do |task_form| %>
        <%# for task in @project.tasks  %>

              <!--<p>-->
                 <%#= task_form.text_field :name %>
              <!--</p>-->
          <%# end %>




      <%#= render :partial =>  "task" ,:collection => @project.tasks %>
    <%# end %>
    </div>

    <%= link_to "add new task" ,:action => :newtask, :method => :get,   :remote => true  %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>





