<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<ul>
  <% for task in @project.tasks %>
     <li><%= task.name %></li>
   <% end %>   
 </ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
